    def test_{{ lower .Name }}(self):
		# TODO: make sure names below match the code
        options = gnomock.Options(debug=True)
        preset = gnomock.{{ .Name }}(version="latest")
        {{ lower .Name }}_request = gnomock.{{ .Name }}Request(options=options,
                preset=preset)
        id = ""

        try:
            response = self.api.start_{{ lower .Name }}({{ lower .Name }}_request)
            id = response.id
            self.assertEqual("127.0.0.1", response.host)

        finally:
            if id != "":
                stop_request = gnomock.StopRequest(id=id)
                self.api.stop(stop_request)


### gnomock-generator
