version: 2.1

commands:
  setup-for-go-test:
    description: install golang, get dependencies, check out code
    steps:
      - run:
          name: install golang
          command: |
            sudo rm -rf /usr/local/go
            wget -c https://dl.google.com/go/go1.20.1.linux-amd64.tar.gz -O - | sudo tar -xz -C /usr/local
      - checkout
      - run:
          name: Get dependencies
          command : go get -v -t -d ./...

jobs:
  test-core:
    machine: true
    resource_class: large
    steps:
      - setup-for-go-test
      - run:
          name: Test Gnomock
          command: GOMAXPROCS=2 go test -v -race -cover .
      - run:
          name: Test gnomockd
          command: go test -race -cover -v ./internal/gnomockd -run TestGnomockd

  test-localstack:
    machine: true
    resource_class: large
    steps:
      - setup-for-go-test
      - run:
          name: Test preset
          command: go test -race -cover -v ./preset/localstack/...
      - run:
          name: Test server
          command: go test -race -cover -v ./internal/gnomockd -run TestLocalstack

  test-elastic:
    machine: true
    resource_class: large
    steps:
      - setup-for-go-test
      - run:
          name: Test preset
          command: go test -cover -v ./preset/elastic/...
      - run:
          name: Test server
          command: go test -v ./internal/gnomockd -run TestElastic

  test-memcached:
    machine: true
    resource_class: large
    steps:
      - setup-for-go-test
      - run:
          name: Test preset
          command: go test -race -cover -v ./preset/memcached/...
      - run:
          name: Test server
          command: go test -race -cover -v ./internal/gnomockd -run TestMemcached

  test-rabbitmq:
    machine: true
    resource_class: large
    steps:
      - setup-for-go-test
      - run:
          name: Test preset
          command: go test -race -cover -v ./preset/rabbitmq/...
      - run:
          name: Test server
          command: go test -race -cover -v ./internal/gnomockd -run TestRabbitMQ

  test-kafka:
    machine: true
    resource_class: large
    steps:
      - setup-for-go-test
      - run:
          name: Test preset
          command: go test -race -cover -v ./preset/kafka/...
      - run:
          name: Test server
          command: go test -race -cover -v ./internal/gnomockd -run TestKafka

  test-postgres:
    machine: true
    resource_class: large
    steps:
      - setup-for-go-test
      - run:
          name: Test preset
          command: go test -race -cover -v ./preset/postgres/...
      - run:
          name: Test server
          command: go test -race -cover -v ./internal/gnomockd -run TestPostgres

  test-mariadb:
    machine: true
    resource_class: large
    steps:
      - setup-for-go-test
      - run:
          name: Test preset
          command: go test -race -cover -v ./preset/mariadb/...
      - run:
          name: Test server
          command: go test -race -cover -v ./internal/gnomockd -run TestMariaDB

  test-splunk:
    machine: true
    resource_class: large
    steps:
      - setup-for-go-test
      - run:
          name: Test preset
          command: go test -race -cover -v ./preset/splunk/...
      - run:
          name: Test server
          command: go test -race -cover -v ./internal/gnomockd -run TestSplunk

  test-redis:
    machine: true
    resource_class: large
    steps:
      - setup-for-go-test
      - run:
          name: Test preset
          command: go test -race -cover -v ./preset/redis/...
      - run:
          name: Test server
          command: go test -race -cover -v ./internal/gnomockd -run TestRedis

  test-mysql:
    machine: true
    resource_class: large
    steps:
      - setup-for-go-test
      - run:
          name: Test preset
          command: go test -race -cover -v ./preset/mysql/...
      - run:
          name: Test server
          command: go test -race -cover -v ./internal/gnomockd -run TestMySQL

  test-mssql:
    machine: true
    resource_class: large
    steps:
      - setup-for-go-test
      - run:
          name: Test preset
          command: go test -race -cover -v ./preset/mssql/...
      - run:
          name: Test server
          command: go test -race -cover -v ./internal/gnomockd -run TestMSSQL

  test-mongo:
    machine: true
    resource_class: large
    steps:
      - setup-for-go-test
      - run:
          name: Test preset
          command: go test -race -cover -v ./preset/mongo/...
      - run:
          name: Test server
          command: go test -race -cover -v ./internal/gnomockd -run TestMongo

  test-k3s:
    machine:
      image: ubuntu-2004:2022.04.2
    resource_class: large
    steps:
      - setup-for-go-test
      - run:
          name: Test preset
          command: go test -race -cover -v ./preset/k3s/...
      - run:
          name: Test server
          command: go test -race -cover -v ./internal/gnomockd -run TestK3s

  test-cockroachdb:
    machine: true
    resource_class: large
    steps:
      - setup-for-go-test
      - run:
          name: Test preset
          command: go test -race -cover -v ./preset/cockroachdb/...
      - run:
          name: Test server
          command: go test -race -cover -v ./internal/gnomockd -run TestCockroachDB

  test-influxdb:
    machine: true
    resource_class: large
    steps:
      - setup-for-go-test
      - run:
          name: Test preset
          command: go test -race -cover -v ./preset/influxdb/...
      - run:
          name: Test server
          command: go test -race -cover -v ./internal/gnomockd -run TestInfluxDB

  test-cassandra:
    machine: true
    resource_class: large
    steps:
      - setup-for-go-test
      - run:
          name: Test preset
          command: go test -race -cover -v ./preset/cassandra/...
      - run:
          name: Test server
          command: go test -race -cover -v ./internal/gnomockd -run TestCassandra
  
  test-vault:
    machine: true
    resource_class: large
    steps:
      - setup-for-go-test
      - run:
          name: Test preset
          command: go test -race -cover -v ./preset/vault/...
      - run:
          name: Test server
          command: go test -race -cover -v ./internal/gnomockd -run TestVault

### preset tests go here

workflows:
  build-workflow:
    jobs:
      - test-core
      - test-localstack
      - test-elastic
      - test-memcached
      - test-rabbitmq
      - test-kafka
      - test-postgres
      - test-mariadb
      - test-splunk
      - test-redis
      - test-mysql
      - test-mssql
      - test-mongo
      - test-k3s
      - test-cockroachdb
      - test-influxdb
      - test-cassandra
      - test-vault
### circleci jobs go here
